# Binaries for programs and plugins
*.exe
*.exe~

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# OS files
*.db
*.DS_Store

# Jetbrains
.idea/

# Eclipse
.project

# Notes
todo.md

# Releases
packaged.yaml
.aws-sam
*.tar.gz

# Generated binaries
dist
releases

# Code coverage
coverage.txt